.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}


.grid-holder {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.grid {
  padding: 5px;
  /* width: 80%; */
  border: 1px solid black;
}

.live-cell {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: green;
}

.dead-cell {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: black;
}